[submodule "vim/pack/main/start/ctrlp.vim"]
	path = vim/pack/main/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/pack/main/start/tender.vim"]
	path = vim/pack/main/start/tender.vim
	url = https://github.com/jacoborus/tender.vim.git
[submodule "vim/pack/main/start/supertab"]
	path = vim/pack/main/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/pack/main/start/vim-airline"]
	path = vim/pack/main/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/main/start/vim-rails"]
	path = vim/pack/main/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/pack/main/start/vim-slim"]
	path = vim/pack/main/start/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "vim/pack/main/start/vim-easymotion"]
	path = vim/pack/main/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vim/pack/main/start/vim-endwise"]
	path = vim/pack/main/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/pack/main/start/vim-ruby"]
	path = vim/pack/main/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/pack/main/start/ale"]
	path = vim/pack/main/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/main/start/vim-vue"]
	path = vim/pack/main/start/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "vim/pack/main/start/indentLine"]
	path = vim/pack/main/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/pack/main/start/auto-pairs"]
	path = vim/pack/main/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/pack/main/start/nerdtree"]
	path = vim/pack/main/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/main/start/nerdcommenter"]
	path = vim/pack/main/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/pack/main/start/vim-dispatch"]
	path = vim/pack/main/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/pack/main/start/vim-bundler"]
	path = vim/pack/main/start/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/pack/main/start/vim-rake"]
	path = vim/pack/main/start/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "vim/pack/main/start/vim-projectionist"]
	path = vim/pack/main/start/vim-projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule "vim/pack/main/start/tagbar"]
	path = vim/pack/main/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/pack/main/start/vim-surround"]
	path = vim/pack/main/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/main/start/rename"]
	path = vim/pack/main/start/rename
	url = https://github.com/danro/rename.vim.git
[submodule "vim/pack/main/start/ultisnips"]
	path = vim/pack/main/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/pack/main/start/vim-snippets"]
	path = vim/pack/main/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/pack/main/opt/deoplete"]
	path = vim/pack/main/opt/deoplete
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "vim/pack/main/start/deoplete"]
	path = vim/pack/main/start/deoplete
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "vim/pack/main/start/vim-hug-neovim-rpc"]
	path = vim/pack/main/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "vim/pack/main/start/nvim-yarp"]
	path = vim/pack/main/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "vim/pack/main/start/vim-gitgutter"]
	path = vim/pack/main/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/main/start/tabular"]
	path = vim/pack/main/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/main/start/vim-colors-solarized"]
	path = vim/pack/main/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/pack/main/start/vim-mkdir"]
	path = vim/pack/main/start/vim-mkdir
	url = https://github.com/pbrisbin/vim-mkdir.git
[submodule "vim/pack/main/start/ack.vim"]
	path = vim/pack/main/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/pack/main/start/vim-rspec"]
	path = vim/pack/main/start/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
[submodule "vim/pack/main/start/tslime.vim"]
	path = vim/pack/main/start/tslime.vim
	url = https://github.com/jgdavey/tslime.vim.git
[submodule "vim/pack/main/start/vim-repeat"]
	path = vim/pack/main/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/pack/main/start/vim-closetag"]
	path = vim/pack/main/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
