// vim: ft=json
// Config file of V2Ray. This file follows standard JSON format, with comments support.
// Uncomment entries below to satisfy your needs. Also read our manual for more detail at
// https://github.com/v2ray/manual/tree/master/zh_cn
{
  "log": {
    // By default, V2Ray writes access log to stdout.
    // "access": "/path/to/access/log/file",

    // By default, V2Ray write error log to stdout.
    // "error": "/path/to/error/log/file",

    // Log level, one of "debug", "info", "warning", "error", "none"
    "loglevel": "warning"
  },

  "inbounds": [
    // {
    //   "port": 8123,
    //   "listen": "0.0.0.0",
    //   "tag": "http-inbound",
    //   "protocol": "http"
    // },
    {
      "port": 8125,
      "listen": "0.0.0.0",
      "tag": "http-inbound-whitelisted",
      "protocol": "http"
    },
    {
      "port": 1080,
      "listen": "0.0.0.0",
      "tag": "socks-inbound",
      "protocol": "socks"
    },
    {
      "port": 11080,
      "listen": "0.0.0.0",
      "protocol": "shadowsocks",
      "settings": {
        "method": "aes-256-gcm",
        "password": "PASSWORD"
      },
      "tag": "shadowsocks-inbound"
    }
  ],

  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "direct"
    },
    {
      "protocol": "vmess",
      "settings": {
        "vnext": [
        {
          "address": "SERVER_ADDRESS",
          "port": SERVER_PORT,
          "users": [
            {
              "id": "YOUR_UUID"
            }
          ]
        }
        ]
      },
      "tag": "vmess-outbound"
    }
  ],

  "routing": {
    "domainStrategy": "AsIs",
    "rules":[
      // {
      //   "type": "field",
      //   "inboundTag": "http-inbound",
      //   "outboundTag": "vmess-outbound"
      // },
      {
        "type": "field",
        "domain": [
        ],
        "inboundTag": "http-inbound-whitelisted",
        "outboundTag": "vmess-outbound"
      },
      {
        "type": "field",
        "inboundTag": "socks-inbound",
        "outboundTag": "vmess-outbound"
      }
    ]
  }
}
